{% extends 'base.html' %}
{% block content %}
<center>
    <h2>注册账户</h2>
    <form action="." method="POST">
        {% csrf_token %}
        用户名:
        <br>
        <input type="text" name="username">
        <br>
        {{ usernameExist }}
        <br>
        密码:
        <br>
        <input type="password" name="password">
        <br>
        确认密码:
        <br>
        <input type="password" name="confirm">
        <br>
        {{ WrongPassword }}
        <br>
        姓:
        <br>
        <input type="text" name="first_name">
        <br>
        名:
        <br>
        <input type="text" name="last_name">
        <br>
        <input type="submit" value="注册" class="btn btn-primary">
    </form>
</center>
{% endblock content %}