{% extends 'contest_base.html' %}
{% block contest_base %}

<div >
    <br>
    <table class="table table-bordered text-center">
        <thead align="center">
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>分值</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problem_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ problem.id }}">{{ problem.title }}</a></td>
                <td>{{ problem.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contest_base %}