{% extends 'contest_base.html' %}
{% block contest_base %}
<div style="width:77%;height:200px;display: inline-block;">
    <div class="">
        <h3>{{ current_problem.title }}</h3>
    </div>
    <div class="">单点时限:{{ current_problem.time_limit }}&nbsp;&nbsp;|&nbsp;&nbsp;空间限制:{{ current_problem.memory_limit }}
    </div>
    <h3 style="margin-bottom: 0;"><small>题目描述</small></h3>
    <div class=" border">{{ current_problem.description }}</div>
    <h3 style="margin-bottom: 0;"><small>输入</small></h3>
    <div class=" border">{{ current_problem.input_description }}</div>
    <h3 style="margin-bottom: 0;"><small>输出</small></h3>
    <div class=" border">{{ current_problem.output_description }}</div>
    <h3 style="margin-bottom: 0;"><small>样例输入</small></h3>
    <div class=" border">{{ current_problem.sample_input }}</div>
    <h3 style="margin-bottom: 0;"><small>样例输出</small></h3>
    <div class=" border">{{ current_problem.sample_output }}</div>

</div>

<h3 style="margin-bottom: 0;"><small>提交</h3></small>
<div>
    <form action="submit" method="GET">
        <textarea name="code" id="" cols="80" rows="20" class="border" style="resize:none"></textarea>
        <br>
        <input type="text" name="language" list="list_item" placeholder="请选择语言" class="border">
        <datalist id="list_item">
            <option>C</option>
            <option>C++</option>
            <option>Java</option>
        </datalist>
        <input type="submit" class="btn">
    </form>
</div>
<br>
{% endblock contest_base %}