{% extends 'base.html' %}

{% block base %}

<body>
    <div>
        <h1>{{ contest.title }}</h1>
        <div style="width:75%;height:25px;">
            <a href="">题目</a>
            <a href="">我的提交</a>
            <a href="">所有提交</a>
            <a href="">榜单</a>
        </div>
        <div style="width:77%;height:200px;display: inline-block;">
            {% block contest_base %}

            {% endblock contest_base %}
        </div>
        <div style=" width:23%;height:100px;float : right;">
            <div class="text-center">
                <div style="margin-left: 7%;" class="border">
                    <h2 style="margin-top:5%"><small> 剩余时间 </small></h2>
                    <hr>
                    <h3 style="margin-bottom: 7%;">3:10:58</h3>
                </div>
            </div>
            <div style="margin-left: 7%;margin-top:10%;" class="border">
                <div style="height:15%">
                    <h2 style="margin-top:5%" class="text-center"><small> 题目列表 </small></h2>
                </div>
                <hr>
                <div>
                    <ol style="margin-top: 0%;">
                        
                        {% for problem in problem_list %}
                        <li class="list_text"><a href="{{ problem.id }}">
                            {{ problem.title }}
                        </a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock base %}