{% extends 'base.html' %}
{% block base %}
<div style="width:40%;margin-left:auto;margin-right:auto;">
    <form class="bs-example bs-example-form" role="form" action="." method="POST">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <span class="input-group-addon">账户</span>
            <input type="text" class="form-control" placeholder="" name="username" placeholder="Twitterhandle">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" name="password">
        </div>
        <br>
        {{ msg }}
        <br>
        <input type="submit" value="登录" class="btn btn-primary btn-lg">
    </form>
    <br>
    <a href="{% url 'register' %}">注册账号</a> | <a href="#">忘记密码</a>
</div>

{% endblock base %}