{% extends 'contest_base.html' %}
{% block contest_base %}
<br>
<div style="width:35%;margin-right:auto;">
    <form class="bs-example bs-example-form" role="form" action="proctor" method="POST">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <span class="input-group-addon">阈值</span>
            <input type="text" class="form-control" placeholder="" name="threshold">
        </div>
        <br>
        <input type="submit" value="检索" class="btn btn-primary btn-lg">
    </form>
    <br>
    
</div>
<div >
    <br>
    <table class="table table-bordered text-center">
        <thead align="center">
            <tr>
                <th>题目编号</th>
                <th>涉案人员甲</th>
                <th>涉案人员乙</th>
            </tr>
        </thead>
        <tbody>
            {% for itr in case_list %}
            <tr>
                <td><a href="http://127.0.0.1:8000/problem/{{ itr.problem.id }}">{{ itr.problem.id }}</a></td>
                <td><a href="http://127.0.0.1:8000/judge/{{ itr.p1.id }}">{{ itr.p1.user.first_name }}{{ itr.p1.user.last_name }}</a></td>
                <td><a href="http://127.0.0.1:8000/judge/{{ itr.p2.id }}">{{ itr.p2.user.first_name }}{{ itr.p2.user.last_name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contest_base %}